*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0 0.5em;
}

.calculator {
  background-color: silver;
  width: 24em;
  height: 36.5em;
  padding: 1em;
  border: 0.25em solid black;
}

.display {
  height: 6em;
  padding: 1em 0.25em;
  margin: 0 0 1em;
  background-color: #40f040;
}

.screen {
  font-size: 3em;
  line-height: 1;
  text-align: right;
  font-family: 'VT323', monospace;
}

.commands {
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: right;
}

.keyboard {
  display: grid;
  grid-template-rows: repeat(5, 5em);
  grid-template-columns: repeat(4, 5em);
  grid-gap: 0.5em;
}

.key {
  text-align: center;
  line-height: 3em;
  font-family: 'Open Sans', sans-serif;
}

.zero {
  grid-column: 1/3;
  grid-row: 5/6;
}

.equal {
  grid-column: 4/5;
  grid-row: 4/6;
}
